@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;800&display=swap");

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.skill {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.3),
    -5px -5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}
.skill::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #131313;
  box-shadow: inset 5px 5px 20px rgba(255, 255, 255, 0.3),
    inset -5px -5px 20px rgba(0, 0, 0, 0.3);
}
.skill:not(:last-child) {
  margin-right: 3rem;
}
.skill:nth-child(1) {
  background-image: conic-gradient(#e34c26 100%, transparent 0);
  color: #e34c26;
}
.skill:nth-child(2) {
  background-image: conic-gradient(#264de4 100%, transparent 0);
  color: #264de4;
}
.skill:nth-child(3) {
  background-image: conic-gradient(#f0db4f 68.18%, transparent 0);
  color: #f0db4f;
}
.skill:nth-child(4) {
  background-image: conic-gradient(#61dbfb 0%, transparent 0);
  color: #61dbfb;
}
.skill:nth-child(5) {
  background-image: conic-gradient(#68a063 0%, transparent 0);
  color: #68a063;
}
.skill:nth-child(6) {
  background-image: conic-gradient(#f89820 29.62%, transparent 0);
  color: #f89820;
}
.skill:nth-child(7) {
  background-image: conic-gradient(#589636 0%, transparent 0);
  color: #589636;
}
.skill:nth-child(8) {
  background-image: conic-gradient(#00758f 0%, transparent 0);
  color: #00758f;
}
.content {
  font-size: 20px;
  z-index: 1;
  text-align: center;
  font-family: Poppins;
}
.content span {
  display: block;
}
